SOURCE_CODE_EXTRACTED/n8n-workflows/lead_capture.json
{
  "name": "NEXUS Lead Capture & Nurturing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process incoming lead\nconst lead = $input.item.json;\n\n// Validate\nif (!lead.email || !lead.email.includes('@')) {\n  throw new Error('Invalid email');\n}\n\n// Enrich lead data\nreturn [{\n  json: {\n    email: lead.email,\n    source: lead.source || 'direct',\n    product: lead.product || 'general',\n    plan: lead.plan || 'trial',\n    timestamp: new Date().toISOString(),\n    ip: $input.item.json.headers?.['x-forwarded-for'] || 'unknown',\n    userAgent: $input.item.json.headers?.['user-agent'] || 'unknown',\n    status: 'new',\n    score: lead.product ? 50 : 20\n  }\n}];"
      },
      "name": "Process Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/v1/leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{ $json.email }}"},
            {"name": "source", "value": "={{ $json.source }}"},
            {"name": "product", "value": "={{ $json.product }}"},
            {"name": "plan", "value": "={{ $json.plan }}"}
          ]
        },
        "options": {}
      },
      "name": "Save to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🎯 New Lead!\n📧 {{ $json.email }}\n📦 Product: {{ $json.product }}\n📊 Source: {{ $json.source }}\n⏰ {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"captured\", \"message\": \"Welcome! Check your email.\"}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [{"node": "Process Lead", "type": "main", "index": 0}]
      ]
    },
    "Process Lead": {
      "main": [
        [
          {"node": "Save to API", "type": "main", "index": 0},
          {"node": "Notify Team", "type": "main", "index": 0}
        ]
      ]
    },
    "Save to API": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{"name": "marketing"}, {"name": "leads"}]
}
